<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>sms.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddStudentServlet</servlet-name>
  	<display-name>AddStudentServlet</display-name>
  	<description></description>
  	<servlet-class>sms.servlets.AddStudentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteStudentServlet</servlet-name>
  	<display-name>DeleteStudentServlet</display-name>
  	<description></description>
  	<servlet-class>sms.servlets.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateStudentServlet</servlet-name>
  	<display-name>UpdateStudentServlet</display-name>
  	<description></description>
  	<servlet-class>sms.servlets.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MarkAttendanceServlet</servlet-name>
  	<display-name>MarkAttendanceServlet</display-name>
  	<description></description>
  	<servlet-class>sms.servlets.MarkAttendanceServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>sms.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetCountOfStudentsServlet</servlet-name>
  	<display-name>GetCountOfStudentsServlet</display-name>
  	<description></description>
  	<servlet-class>sms.servlets.GetCountOfStudentsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FileUploadServlet</servlet-name>
  	<display-name>FileUploadServlet</display-name>
  	<description></description>
  	<servlet-class>sms.servlets.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddStudentServlet</servlet-name>
  	<url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteStudentServlet</servlet-name>
  	<url-pattern>/DeleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateStudentServlet</servlet-name>
  	<url-pattern>/UpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MarkAttendanceServlet</servlet-name>
  	<url-pattern>/MarkAttendanceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetCountOfStudentsServlet</servlet-name>
  	<url-pattern>/GetCountOfStudentsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FileUploadServlet</servlet-name>
  	<url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>  
   <welcome-file>home.jsp</welcome-file>    
  </welcome-file-list> 
</web-app>
